<div class="d-flex gap-3 flex-column">
  <div class="d-flex flex-column gap-1">
    <p>Value</p>
    <mat-form-field class="w-100">
      <input type="number" matInput [formControl]="seedControl" />
    </mat-form-field>
    @if (seedControl.invalid) {
      <mat-error>Enter valid value</mat-error>
    }
  </div>

  <div class="d-flex flex-column gap-1">
    <p>Accumulator Operator</p>
    <mat-form-field class="w-100">
      <mat-select [formControl]="operatorControl">
        @for (topping of options; track topping) {
          <mat-option [value]="topping">{{ topping }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (operatorControl.invalid) {
      <mat-error>Enter valid value</mat-error>
    }
  </div>
</div>
