<div class="p-3 border-box no-hover d-flex flex-column gap-3 elements-bcg">
  <p>CONTROLS</p>
  <div class="buttons-container">
    <div
      class="active d-flex justify-content-center gap-1 py-1 align-items-center border-box-light"
    >
      <h6>
        <mat-icon class="button-icon"> play_arrow </mat-icon>
      </h6>
      <p>Emit</p>
    </div>
    <div
      class="inactive d-flex justify-content-center elements-bcg gap-1 py-1 align-items-center border-box"
    >
      <p>
        <mat-icon class="button-icon"> skip_next </mat-icon>
      </p>
      <h6>Next Step</h6>
    </div>
    <div
      class="inactive d-flex justify-content-center elements-bcg gap-1 py-1 align-items-center border-box"
    >
      <p>
        <mat-icon class="button-icon"> fast_forward </mat-icon>
      </p>
      <h6>Run All</h6>
    </div>
    <div
      class="inactive d-flex justify-content-center elements-bcg gap-1 py-1 align-items-center border-box"
    >
      <p>
        <mat-icon class="button-icon reset"> refresh </mat-icon>
      </p>
      <h6 class="reset">Reset</h6>
    </div>
  </div>
</div>
