.border-box,
.border-box-dashed {
  border: 2px solid var(--color-inactive);
  border-radius: 15px;

  &:not(.no-hover):hover {
    border-color: var(--color-elements);
  }
}

.border-box-dashed {
  border-style: dashed;
}

.border-box-light {
  border: 1px solid var(--color-elements);
  border-radius: 10px;
}

.border-line-b {
  border-bottom: 2px solid var(--color-inactive);
}
