.mat-icon {
  color: var(--color-text-secondary);

  &.icon-lg {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  &.icon-sm {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}
