:root {
  --color-bg: #0b0d14;
  --color-elements-bg: #0b0d14;

  --color-text-primary: #ffffff;
  --color-text-secondary: #5b6477;

  --color-elements: #00e1ff;
  --color-btn-icon: #0b0d14;
  --color-inactive: #1c202b;
  --color-inactive-icon: #1c212d;
}
