@use 'bootstrap/scss/bootstrap' as *;
@use '@angular/material' as mat;
@use './styles/variables';
@use './styles/typography';
@use './styles/components';
@use './styles/icons';
@use './styles/borders';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  --mat-sys-primary: #00e1ff;
  --mat-sys-on-primary: #000000;
  --mat-sys-primary-container: #003f47;
  --mat-sys-on-primary-container: #00e1ff;
  --mat-sys-tertiary: #00e1ff;
  --mat-sys-on-tertiary: #000000;
}

body {
  color-scheme: dark;
  background-color: var(--color-bg);
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-code);
  color: var(--color-text-primary);
}

.mat-icon {
  color: var(--color-text-secondary);
}

p {
  font-family: var(--font-ui);
  color: var(--color-text-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.elements-bcg {
  background-color: var(--color-elements-bg);
}

.width-content {
  width: fit-content;
}

.disabled {
  opacity: 50%;
}

.mat-mdc-form-field {
  --mat-form-field-outlined-focus-outline-color: var(--color-elements);
  --mat-form-field-outlined-hover-outline-color: var(--color-elements);
  --mat-sys-outline: var(--color-elements);
  --mat-form-field-outlined-container-shape: 15px;
  .mdc-text-field--outlined {
    background-color: var(--color-elements-bg);
    border-radius: 15px;
  }
}
